<div class="flat-window">
    <ul>
        <li>
            <button class="scroll-top tran3s color2_bg">
                <span class="fa fa-angle-up"></span>
            </button>
        </li>
        <li>
            <button class=" color2_bg" href="tel:0769-22502222">
                <span class="fa fa-phone"></span>
                <div class="tel">
                    <a>0769-22502222</a>
                </div>
            </button>
        </li>
        <li>
            <button class="color2_bg">
                <span class="fa fa-qrcode"></span>
                <div class="code animated fadeIn">
                    <img src="../../images/logo/5b222bda60fe4.jpg">
                </div>
            </button>
        </li>
        <li>
            <button class="color2_bg">
                <span class="fa fa-jpy"></span>
            </button>
        </li>
        <li>
            <button class="color2_bg">
                <span class="kf"></span>
            </button>
        </li>
    </ul>
</div>
<!--客服 弹窗-->
<div class="kf-marsk animated fadeIn">
    <div class="kf-container">
        <div class="kf-title">
            <h1>客服中心<span>CUSTOMER SERVICE CENTER</span></h1>
        </div>
        <div class="kf-list">
            <h2>售前在线咨询
                <span>（以下为10位资深销售主管官方企业Q,更多销售员Q请咨询销售主管</span>
            </h2>
            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin=2880269143&site=qq&menu=yes">
                        <i></i>销售-谢文婷(主管)
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin=2880269150&site=qq&menu=yes">
                        <i></i>销售-邓建锋(主管)
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin=2880269177&site=qq&menu=yes">
                        <i></i>销售-何杰(主管)
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin=2880269162&site=qq&menu=yes">
                        <i></i>销售-李明辉(主管)
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin=2880269141&site=qq&menu=yes">
                        <i></i>销售-康文宁(主管)
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin=2880269207&site=qq&menu=yes">
                        <i></i>销售-吴盛积(主管)
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin=2880908994&site=qq&menu=yes">
                        <i></i>销售-吴伟在(主管)
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin=2880657377&site=qq&menu=yes">
                        <i></i>销售-潘劲松(主管)
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin=2880269168&site=qq&menu=yes">
                        <i></i>销售-吴祖清(主管)
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin=2880269159&site=qq&menu=yes">
                        <i></i>销售-刘强(主管)
                    </a>
                </li>
            </ul>
        </div>
        <div class="after-sales-service">
            <h2>售后服务<span>（或与官方提供的专属QQ一对一直接服务）</span></h2>
            <ul>
                <li>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=800083103&site=qq&menu=yes">
                        <i></i>800售后服务通道
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2880269138&site=qq&menu=yes">
                        <i></i>投诉专员
                    </a>
                </li>
                <li>
                    <a><i></i>投诉留言系统</a>
                </li>
            </ul>
            <p>工作时间： 周一至周五 9：30至17：30 周六13：30至17：30，其它日期按国家法定节假日休假，如果有不便之请敬请谅解！ 售后技术支持：多部门7*24小时机制。</p>
        </div>
        <div class="close">
            <a></a>
        </div>
    </div>
</div>
