
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="main-logo">
                <a href="../../index.html"><img src="../../images/logo/logo.png" alt=""></a>
            </div>
        </div>
        <div class="col-md-9 menu-column">
            <nav class="menuzord" id="main_menu">
                <ul class="menuzord-menu">
                    <li ><a href="../../index.html">首页</a></li>
                    <li id="product">
                        <a href="javascript:;">锐讯产品<i class="fa fa-angle-right"></i></a>
                        <div class="dropdown-container animated fadeIn" id="dropdown">
                            <div data-show="server-rent" class="dropdown-item">
                                <a href="javascript:;" class="title">服务器租用
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                                <div class="server-rent" id="server-rent">
                                    <ul>
                                        <li><a href="../../product/server-rent/dell-server.html">戴尔服务器租用</a></li>
                                        <li><a href="javascript:;">IBM服务器租用</a></li>
                                        <li><a href="javascript:;">惠普服务器租用</a></li>
                                        <li><a href="javascript:;">企业服务器租用</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div data-show="server-col" class="dropdown-item">
                                <a href="javascript:;" class="title">服务器托管
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                                <div class="server-col" id="server-col">
                                    <ul>
                                        <li><a href="#">BGP机房托管</a></li>
                                        <li><a href="#">电信机房托管</a></li>
                                        <li><a href="#">双线机房托管</a></li>
                                        <li><a href="#">移动机房托管</a></li>
                                        <li><a href="#">多线服务器托管</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div data-show="bwidth-rent" class="dropdown-item">
                                <a href="javascript:;" class="title">带宽租用
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                                <div class="bwidth-rent" id="bwidth-rent">
                                    <ul>
                                        <li><a href="#">电信带宽</a></li>
                                        <li><a href="#">双线带宽</a></li>
                                        <li><a href="#">移动带宽</a></li>
                                        <li><a href="#">国际带宽</a></li>
                                        <li><a href="#">多线BGP带宽</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div data-show="cabient-rent" class="dropdown-item">
                                <a href="javascript:;" class="title">机柜租用
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                                <div class="cabient-rent" id="cabient-rent">
                                    <ul>
                                        <li><a href="#">电信机柜租用</a></li>
                                        <li><a href="#">双线机柜租用</a></li>
                                        <li><a href="#">联通机柜租用</a></li>
                                        <li><a href="#">移动机柜租用</a></li>
                                        <li><a href="#">多线BGP机柜租用</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="../../service-add/views/service-add.html">增值服务</a></li>
                    <li><a href="../../vistor-room/room-list/vist.html">参观锐讯机房</a></li>
                    <li><a href="../../discount-sales/sales-list/sales.html">优惠促销</a></li>
                    <li><a href="../../help-content/views/help.html">帮助中心</a></li>
                    <li><a href="../../contact-us/views/intro-company.html">联系我们</a></li>
                </ul><!-- End of .menuzord-menu -->
            </nav> <!-- End of #main_menu -->
        </div>
        <div class="right-column">
            <div class="right-area">
                <div class="nav_side_content">
                    <div class="search_option">
                        <button class="search tran3s dropdown-toggle color1_bg" id="searchDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search" aria-hidden="true"></i></button>
                        <form action="index.html#" class="dropdown-menu" aria-labelledby="searchDropdown">
                            <input type="text" placeholder="Search...">
                            <button><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div> <!-- End of .conatiner -->


