<footer class="main-footer">

    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="container">
            <div class="row">
                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget about-widget">
                                <div class="section-title">
                                    <h3>关于我们</h3>
                                </div>
                                <figure class="footer-logo">
                                    <img class="public-code animated fadeIn" src="../../images/logo/f_ablogo.png" alt="">
                                    <img class="wechat-code animated fadeIn" src="../../images/logo/5b222bda60fe4.jpg">
                                </figure>

                            </div>
                        </div>
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget links-widget">
                                <div class="section-title">
                                    <h3>锐讯产品</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="http://demo.cssmoban.com/cssthemes5/cpts%5F1369%5Fcbx/service-single.html">服务器租用</a></li>
                                        <li><a href="http://demo.cssmoban.com/cssthemes5/cpts%5F1369%5Fcbx/service-single.html">服务器托管</a></li>
                                        <li><a href="http://demo.cssmoban.com/cssthemes5/cpts%5F1369%5Fcbx/service-single.html">带宽租用</a></li>
                                        <li><a href="http://demo.cssmoban.com/cssthemes5/cpts%5F1369%5Fcbx/service-single.html">机柜租用</a></li>
                                        <li><a href="http://demo.cssmoban.com/cssthemes5/cpts%5F1369%5Fcbx/service-single.html">增值业务</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget links-widget">
                                <div class="section-title">
                                    <h3>帮助中心</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="http://demo.cssmoban.com/cssthemes5/cpts%5F1369%5Fcbx/service-single.html">购买流程</a></li>
                                        <li><a href="http://demo.cssmoban.com/cssthemes5/cpts%5F1369%5Fcbx/service-single.html">常见问题</a></li>
                                        <li><a href="http://demo.cssmoban.com/cssthemes5/cpts%5F1369%5Fcbx/service-single.html">网站备案</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget contact-widget">
                                <div class="section-title">
                                    <h3>联系我们</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="contact-info">
                                        <li><span class="icon fa fa-phone"></span>+86 0769-22502222(总机)</li>
                                        <li><span class="icon fa fa-fax"></span>+86 0769-22101333</li>
                                        <li><span class="icon fa fa-map-marker"></span>广东省东莞市南城区宏图路高盛科技园103号</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Footer Bottom-->
    <section class="footer-bottom">
        <div class="container">
            <div class="copy-text">
                <p>Copyright &copy; 2016 广东锐讯网络有限公司版权所有</p>

            </div><!-- /.pull-right -->
            <div class="get-text">
                <ul>
                    <li><p>ISP许可证：粤B2-20051022</p></li>
                    <li><p>备案号：粤ICP备11068626号-2</p></li>
                    <li><p><i></i> 粤公网安备 44190002000172号</p></li>
                </ul>
            </div><!-- /.pull-left -->
        </div><!-- /.container -->
    </section>

</footer>
