<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>帮助中心</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../../css/menuzord.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">
    <link rel="stylesheet" href="../../css/responsive.css" type="text/css">
    <link rel="stylesheet" href="../../css/font-awesome.css">
    <link rel="stylesheet" href="../../css/animate.min.css">


</head>
<body>

<div class="boxed_wrapper">

    <section class="nav-container theme_menu stricky"></section>

    <div class="inner-banner has-base-color-overlay text-center">
        <div class="container">
            <div class="box">
                <h3>Help Center</h3>
            </div><!-- /.box -->
        </div><!-- /.container -->
    </div>
    <div class="breadcumb-wrapper">
        <div class="container">
            <div class="pull-left">
                <ul class="list-inline link-list">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li>
                        帮助中心
                    </li>
                </ul><!-- /.list-line -->
            </div><!-- /.pull-left -->
        </div><!-- /.container -->
    </div>

    <section class="buy-flow sec-padd-top bg-f7">
        <div class="container">
            <div class="section-title">
                <h3>购买流程</h3>
            </div>
            <ul>
                <li>
                    <img src="../../images/help/gmlc1.png">
                </li>
                <li>
                    <img src="../../images/help/gmlc2.png">
                </li>
                <li>
                    <img src="../../images/help/gmlc3.png">
                </li>
                <li>
                    <img src="../../images/help/gmlc4.png">
                </li>
            </ul>
        </div>
    </section>
    <section class="sec-padd-top faq bg-f7">
        <div class="container">
            <div class="section-title">
                <h3>常见问题</h3>
            </div>
            <div class="faq-list">
                <ul>
                    <li class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="img-box">
                            <img src="../../images/help/s_5c6cd2526615b.jpg">
                        </div>
                        <div class="text">
                            <h1><a href="../faq-detail/faq-detail.html">服务器租用，搭建网站显示“您未被授权查看该页”解决方法</a></h1>
                            <p>有些客户反映自己租用网站服务器搭建了一个网站，但建好网站之后在浏览网页的时候，突然发现提示未被授权查看该页，这是怎么回事呢？这个问题怎么解决呢？“您未被授权查看该页”错误原因汇总：您未被授权查看该页错误页面1、WEB目录权限不足；2、未启用</p>
                        </div>
                    </li>
                    <li class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="img-box">
                            <img src="../../images/help/s_5c638d60e5208.jpg">
                        </div>
                        <div class="text">
                            <h1><a href="###">服务器租用，两台Linux系统之间传输文件的四种方法</a></h1>
                            <p>在日常服务器租用中，有时需要将文件从一台服务器传到另一台服务器，下面锐讯网络小编介绍四种linux服务器之间传输文件方式。1. scp【优点】简单方便，安全可靠；支持限速参数 【缺点】不支持排除目录【用法】scp就是secure copy，</p>
                        </div>
                    </li>
                    <li class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="img-box">
                            <img src="../../images/help/s_5c511a9eb0699.gif">
                        </div>
                        <div class="text">
                            <h1><a href="###">在nginx中设置三级域名的方法</a></h1>
                            <p>问题描述在租用网站服务器，配置网站时，通过配置nginx可以设置一个IP地址下面通过不同的端口访问不同的Web应用，但是时间长了之后端口号和应用之间的关系就很模糊了。如 http://120.79.79.XX:9001 和foreign.X</p>
                        </div>
                    </li>
                    <li class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="img-box">
                            <img src="../../images/help/s_5c4eade025dd2.jpg">
                        </div>
                        <div class="text">
                            <h1><a href="###">服务器租用，春节期间，服务器安全建议</a></h1>
                            <p>临近春节，有些客户认为，假期期间，业务量少了，访问人少了，服务器相对处于安全状态。熟知犯罪分子往往利用这段时间会对服务器进行攻击等操作。在此，锐讯网络小编给广大客户提几个建议：1、安全补丁及时打上；2、下载软件尽量从正规官网下载、不在服务器</p>
                        </div>
                    </li>
                    <li class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="img-box">
                            <img src="../../images/help/s_5c4811030f300.jpg">
                        </div>
                        <div class="text">
                            <h1><a href="###">服务器租用，linux服务中开启防火墙</a></h1>
                            <p>防火墙是服务器租用后必不可少的安全保护措施。忘记配置服务器防火墙，将使您的服务器处于巨大的安全漏洞风险中。防火墙设置可允许您删除连接到网络中的不必要的软件，进而避免您的服务器及其端口受到恶意入侵。防火墙的工作原理(一)、包过滤防火墙的工作原</p>
                        </div>
                    </li>
                    <li class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="img-box">
                            <img src="../../images/help/s_5c457fe9c97b4.jpg">
                        </div>
                        <div class="text">
                            <h1><a href="###">网站服务器，如何降低网站被挂马的风险</a></h1>
                            <p>网站被别人非法恶意挂马了，主要表现就是网站首页被加入了大量博彩内容，表面上没什么问题，但查看源码发现好多黑链，和很多博彩的内容，所以在搜索关键词时，网站直接被K至100名之外了。防止网站被黑，建议看看以下方案：一、对于网上开源程序需要注意及</p>
                        </div>
                    </li>
                    <li class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="img-box">
                            <img src="../../images/help/s_5c3ee38ddc3c1.jpg">
                        </div>
                        <div class="text">
                            <h1><a href="###">服务器租用，Llinux下如何搭建NFS文件共享服务器</a></h1>
                            <p>NFS配置文件权限参数说明（/etc/exports）1、rw：表示可读写权限。2、ro：表示只读权限。3、sync：请求或写入数据时，数据同步写入到NFS Server的硬盘后才返回。（优点：数据安全不会丢。缺点：性能比启用该参数要差）。</p>
                        </div>
                    </li>
                    <li class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="img-box">
                            <img src="../../images/help/s_5c35654ac9183.jpg">
                        </div>
                        <div class="text">
                            <h1><a href="###">找出Linux服务器上不该存在恶意或后门文件</a></h1>
                            <p>前段时间我在APT写作时注意到一个问题，我发现网上大多都是关于Windows恶意软件检测的文章以及教程，而关于如何寻找Linux系统上恶意软件的资料却少之又少。因此，这篇文章主要是向大家介绍一些有关检查Linux系统恶意软件的技巧和方法。话</p>
                        </div>
                    </li>
                    <li class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="img-box">
                            <img src="../../images/help/s_5c32f896f2406.jpg">
                        </div>
                        <div class="text">
                            <h1><a href="###">五个受欢迎的开源免费CMS建站系统</a></h1>
                            <p>随着互联网及web应用技术的蓬勃发展，网上针对企业建站的各种CMS建站系统层出不穷，如今企业建站和维护的成本已不像过去那么高，因为网上针对企业建站的各种CMS建站系统层出不穷。本文将和大家分享五个受欢迎的开源免费CMS建站系统。1.Word</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class=" site-ba sec-padd bg-f7">
        <div class="container">
            <div class="section-title">
                <h3>网站备案</h3>
            </div>
            <div class="row">
                <div class="ba-item col-md-4 col-sm-4 col-xs-12">
                    <div class="img-box">
                        <img src="../../images/help/s_5832bcd7cf2f6.jpg">
                    </div>
                    <div class="text">
                        <h1><a href="../beian/ba-flow.html">新手经验:网站备案流程和注意事项</a></h1>
                        <p>新手经验:网站备案流程和注意事项　　当前，随着国家工信部对互联网行业管理力度的提升和规范化，在网站制作公司跟客户把网站做完成以后，政策规定网站需要通过备案才能正常访问。今天我们就聊聊网站备案的流程和体...</p>
                    </div>
                </div>
                <div class="ba-item col-md-4 col-sm-4 col-xs-12">
                    <div class="img-box">
                        <img src="../../images/help/s_5832bcd7cf2f6.jpg">
                    </div>
                    <div class="text">
                        <h1><a href="../beian/ba-flow-1.html">网站备案流程</a></h1>
                        <p>网站备案流程国家信息产业部最新网站备案系统已经成功上线运行，网站备案审核将越来越严格，以下是东莞市锐讯网络技术有限公司最新网站备案流程，请网站的主办者务必关注。 新增备案、新增网站备案、接入备案、备案...</p>
                    </div>
                </div>
                <div class="ba-item col-md-4 col-sm-4 col-xs-12">
                    <div class="img-box">
                        <img src="../../images/help/s_5832bcd7cf2f6.jpg">
                    </div>
                    <div class="text">
                        <h1><a href="../beian/ba-need-know.html">网站备案须知</a></h1>
                        <p>单位或个人网站备案须知一、互联网备案法律依据 1、《中华人民共和国计算机信息系统安全保护条例》第十一条规定：“进行国际联网的计算机信息系统由计算机信息系统使用单位报省级以上人民政府公安机关备案”...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="footer-container"></div>

    <div class="float-container"></div>
    <!-- pre loader  -->
    <div class="preloader"></div>


    <!-- jQuery js -->
    <script src="../../js/jquery.js"></script>
    <!-- bootstrap js -->
    <script src="../../js/bootstrap.min.js"></script>
    <!-- jQuery ui js -->
    <script src="../../js/jquery-ui.js"></script>
    <!-- owl carousel js -->
    <script src="../../js/owl.carousel.min.js"></script>
    <!-- jQuery validation -->

    <!-- mixit up -->
    <script src="../../js/wow.js"></script>

    <!-- fancy box -->
    <script src="../../js/jquery.flexslider.js"></script>
    <script src="../../js/custom.js"></script>
    <script src="../../js/common.js"></script>


</div>

</body>
</html>
