<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资源证书</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../../css/menuzord.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">
    <link rel="stylesheet" href="../../css/responsive.css" type="text/css">
    <link rel="stylesheet" href="../../css/font-awesome.css">
    <link rel="stylesheet" href="../../css/animate.min.css">

</head>
<body>

<div class="boxed_wrapper">

    <section class="nav-container theme_menu stricky"></section>

    <div class="inner-banner has-base-color-overlay text-center">
        <div class="container">
            <div class="box">
                <h3>Contact Us</h3>
            </div><!-- /.box -->
        </div><!-- /.container -->
    </div>
    <div class="breadcumb-wrapper">
        <div class="container">
            <div class="pull-left">
                <ul class="list-inline link-list">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li>
                        <a href="javascript:;">联系我们</a>
                    </li>
                    <li>
                        资源证书
                    </li>
                </ul><!-- /.list-line -->
            </div><!-- /.pull-left -->
        </div><!-- /.container -->
    </div>

    <section class="sec-padd">
        <div class="container">
            <div class="row">
                <div class="nav-left col-md-2 col-sm-3 col-xs-12">
                    <h1>关于我们<i class="fa fa-angle-down"></i></h1>
                    <ul>
                        <li>
                            <a href="intro-company.html">公司介绍</a>
                        </li>
                        <li class="active">
                            <a href="certi-book.html">资质证书</a>
                        </li>
                        <li>
                            <a href="staff.html">员工风采</a>
                        </li>
                        <li>
                            <a href="news-information.html">新闻资讯</a>
                        </li>
                        <li>
                            <a href="busine-cooperation.html">商务合作</a>
                        </li>
                        <li>
                            <a href="pay.html">支付方式</a>
                        </li>
                        <li>
                            <a href="connect-us.html">联系我们</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12 cerit-book mg-40">
                    <div class="latest-project-carousel owl-carousel owl-theme">
                        <div class="item">
                            <div class="single-latest-project-carousel">
                                <img src="../../images/about-us/suiwu.jpg">
                                <p>税务登记证书</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-latest-project-carousel">
                                <img src="../../images/about-us/yinye.jpg">
                                <p>营业执照</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-latest-project-carousel">
                                <img src="../../images/about-us/zzdx.jpg">
                                <p>国家增值电信业务经营许可证（ISP证）</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-latest-project-carousel">
                                <img src="../../images/about-us/zzjg.jpg">
                                <p>组织机构证书</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="footer-container"></div>

    <div class="float-container"></div>
    <!-- pre loader  -->
    <div class="preloader"></div>


    <!-- jQuery js -->
    <script src="../../js/jquery.js"></script>
    <!-- bootstrap js -->
    <script src="../../js/bootstrap.min.js"></script>
    <!-- jQuery ui js -->
    <script src="../../js/jquery-ui.js"></script>
    <!-- owl carousel js -->
    <script src="../../js/owl.carousel.min.js"></script>
    <!-- jQuery validation -->

    <!-- mixit up -->
    <script src="../../js/wow.js"></script>
    <script src="../../js/jquery.flexslider.js"></script>


    <!-- fancy box -->
    <script src="../../js/custom.js"></script>
    <script src="../../js/common.js"></script>

</div>

</body>
</html>
