<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻资讯</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../../css/menuzord.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">
    <link rel="stylesheet" href="../../css/responsive.css" type="text/css">
    <link rel="stylesheet" href="../../css/font-awesome.css">
    <link rel="stylesheet" href="../../css/animate.min.css">


</head>
<body>

<div class="boxed_wrapper">

    <section class="nav-container theme_menu stricky"></section>

    <div class="inner-banner has-base-color-overlay text-center">
        <div class="container">
            <div class="box">
                <h3>Contact Us</h3>
            </div><!-- /.box -->
        </div><!-- /.container -->
    </div>
    <div class="breadcumb-wrapper">
        <div class="container">
            <div class="pull-left">
                <ul class="list-inline link-list">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li>
                        <a href="javascript:;">联系我们</a>
                    </li>
                    <li>
                        新闻资讯
                    </li>
                </ul><!-- /.list-line -->
            </div><!-- /.pull-left -->
        </div><!-- /.container -->
    </div>

    <section class="sec-padd">
        <div class="container">
            <div class="row">
                <div class="nav-left col-md-2 col-sm-3 col-xs-12">
                    <h1>关于我们<i class="fa fa-angle-down"></i></h1>
                    <ul>
                        <li>
                            <a href="intro-company.html">公司介绍</a>
                        </li>
                        <li>
                            <a href="certi-book.html">资质证书</a>
                        </li>
                        <li>
                            <a href="staff.html">员工风采</a>
                        </li>
                        <li class="active">
                            <a href="news-information.html">新闻资讯</a>
                        </li>
                        <li>
                            <a href="busine-cooperation.html">商务合作</a>
                        </li>
                        <li>
                            <a href="pay.html">支付方式</a>
                        </li>
                        <li>
                            <a href="connect-us.html">联系我们</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12 mg-40">
                    <div class="news-navbar clear_fix">
                        <ul>
                            <li><a href="news-information.html">锐讯动态</a></li>
                            <li><a href="news-information-adv.html">最新公告</a></li>
                            <li class="active"><a href="news-information-list.html">新闻资讯</a></li>
                        </ul>
                    </div>
                    <div class="news-list">
                        <ul>
                            <li>
                                <a href="../news-list-detail/news-list-detail.html">工信部宣布中国工业互联网研究院院长等任职人选</a>
                                <span>2019-02-21 　 </span>
                            </li>
                            <li>
                                <a href="###">搜狗发布首个站立AI合成主播</a>
                                <span>2019-02-21 　 </span>
                            </li>
                            <li>
                                <a href="###">粤港澳大湾区发展规划纲要:将建世界级城市群</a>
                                <span>2019-02-19　 </span>
                            </li>
                            <li>
                                <a href="###">工信部等三部门联合印发《关于加强绿色数据中心建设的指导意见》</a>
                                <span>2019-02-14　 </span>
                            </li>
                            <li>
                                <a href="###">IDC发布2019年VR/AR十大预测</a>
                                <span>2019-02-12　 </span>
                            </li>
                            <li>
                                <a href="###">安卓新漏洞！一张图片即可侵入系统</a>
                                <span>2019-02-11 　 </span>
                            </li>
                            <li>
                                <a href="###">我国成功实现首个5G智慧码头方案验证</a>
                                <span>2019-01-31 　 </span>
                            </li>
                            <li>
                                <a href="###">我国首次成功实现5G网络VR实时制作传输测试</a>
                                <span>2019-01-31 　 </span>
                            </li>
                            <li>
                                <a href="###">四部门：今年开展App违法违规收集使用个人信息专项治理</a>
                                <span>2019-01-29 　 </span>
                            </li>
                        </ul>
                    </div>
                    <div class="page" style="margin-top: 30px">
                        <ul class="page_pagination center">
                            <li><a href="#" class="tran3s"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="active tran3s">1</a></li>
                            <li><a href="#" class="tran3s">2</a></li>
                            <li><a href="#" class="tran3s"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="footer-container"></div>

    <div class="float-container"></div>
    <!-- pre loader  -->
    <div class="preloader"></div>


    <!-- jQuery js -->
    <script src="../../js/jquery.js"></script>
    <!-- bootstrap js -->
    <script src="../../js/bootstrap.min.js"></script>
    <!-- jQuery ui js -->
    <script src="../../js/jquery-ui.js"></script>
    <!-- owl carousel js -->
    <script src="../../js/owl.carousel.min.js"></script>
    <!-- jQuery validation -->

    <!-- mixit up -->
    <script src="../../js/wow.js"></script>
    <script src="../../js/jquery.flexslider.js"></script>


    <!-- fancy box -->
    <script src="../../js/custom.js"></script>
    <script src="../../js/common.js"></script>
    <!-- photo js-->

</div>

</body>
</html>
