<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>最新公告</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../../css/menuzord.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">
    <link rel="stylesheet" href="../../css/responsive.css" type="text/css">
    <link rel="stylesheet" href="../../css/font-awesome.css">
    <link rel="stylesheet" href="../../css/animate.min.css">


</head>
<body>

<div class="boxed_wrapper">

    <section class="nav-container theme_menu stricky"></section>

    <div class="inner-banner has-base-color-overlay text-center">
        <div class="container">
            <div class="box">
                <h3>Contact Us</h3>
            </div><!-- /.box -->
        </div><!-- /.container -->
    </div>
    <div class="breadcumb-wrapper">
        <div class="container">
            <div class="pull-left">
                <ul class="list-inline link-list">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li>
                        <a href="javascript:;">联系我们</a>
                    </li>
                    <li>
                        新闻资讯
                    </li>
                </ul><!-- /.list-line -->
            </div><!-- /.pull-left -->
        </div><!-- /.container -->
    </div>

    <section class="sec-padd">
        <div class="container">
            <div class="row">
                <div class="nav-left col-md-2 col-sm-3 col-xs-12">
                    <h1>关于我们<i class="fa fa-angle-down"></i></h1>
                    <ul>
                        <li>
                            <a href="intro-company.html">公司介绍</a>
                        </li>
                        <li>
                            <a href="certi-book.html">资质证书</a>
                        </li>
                        <li>
                            <a href="staff.html">员工风采</a>
                        </li>
                        <li class="active">
                            <a href="news-information.html">新闻资讯</a>
                        </li>
                        <li>
                            <a href="busine-cooperation.html">商务合作</a>
                        </li>
                        <li>
                            <a href="pay.html">支付方式</a>
                        </li>
                        <li>
                            <a href="connect-us.html">联系我们</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12 mg-40">
                    <div class="news-navbar clear_fix">
                        <ul>
                            <li><a href="news-information.html">锐讯动态</a></li>
                            <li class="active"><a href="news-information-adv.html">最新公告</a></li>
                            <li><a href="news-information-list.html">新闻资讯</a></li>
                        </ul>
                    </div>
                    <div class="news-list">
                        <ul>
                            <li>
                                <a href="../adv-news-detail/adv-news-detail.html">2019年春节放假通知</a>
                                <span>2019-01-14 　 </span>
                            </li>
                            <li>
                                <a href="###">2018年中秋节及国庆节放假通知</a>
                                <span>2019-01-18 　 </span>
                            </li>
                            <li>
                                <a href="###">锐讯网络端午节放假通知</a>
                                <span>2018-06-06　 </span>
                            </li>
                            <li>
                                <a href="###">锐讯网络“五一”劳动节放假通知</a>
                                <span>2018-04-23　 </span>
                            </li>
                            <li>
                                <a href="###">锐讯网络2018年清明节放假通知</a>
                                <span>2018-03-28　 </span>
                            </li>
                            <li>
                                <a href="###">2018锐讯网络春节放假通知</a>
                                <span>2018-02-07　 </span>
                            </li>
                            <li>
                                <a href="###">2018年元旦放假通知</a>
                                <span>2017-12-18 　 </span>
                            </li>
                            <li>
                                <a href="###">2017年国庆节/中秋节假通知</a>
                                <span>2017-09-14 　 </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="footer-container"></div>

    <div class="float-container"></div>
    <!-- pre loader  -->
    <div class="preloader"></div>


    <!-- jQuery js -->
    <script src="../../js/jquery.js"></script>
    <!-- bootstrap js -->
    <script src="../../js/bootstrap.min.js"></script>
    <!-- jQuery ui js -->
    <script src="../../js/jquery-ui.js"></script>
    <!-- owl carousel js -->
    <script src="../../js/owl.carousel.min.js"></script>
    <!-- jQuery validation -->
    <!-- mixit up -->
    <script src="../../js/wow.js"></script>
    <script src="../../js/jquery.flexslider.js"></script>


    <!-- fancy box -->
    <script src="../../js/custom.js"></script>
    <script src="../../js/common.js"></script>
    <!-- photo js-->

</div>

</body>
</html>
