<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工风采</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../../css/menuzord.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">
    <link rel="stylesheet" href="../../css/responsive.css" type="text/css">
    <link rel="stylesheet" href="../../css/font-awesome.css">
    <link rel="stylesheet" href="../../css/animate.min.css">


</head>
<body>

<div class="boxed_wrapper">

    <section class="nav-container theme_menu stricky"></section>

    <div class="inner-banner has-base-color-overlay text-center">
        <div class="container">
            <div class="box">
                <h3>Contact Us</h3>
            </div><!-- /.box -->
        </div><!-- /.container -->
    </div>
    <div class="breadcumb-wrapper">
        <div class="container">
            <div class="pull-left">
                <ul class="list-inline link-list">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li>
                        <a href="javascript:;">联系我们</a>
                    </li>
                    <li>
                        员工风采
                    </li>
                </ul><!-- /.list-line -->
            </div><!-- /.pull-left -->
        </div><!-- /.container -->
    </div>

    <section class="sec-padd">
        <div class="container">
            <div class="row">
                <div class="nav-left col-md-2 col-sm-3 col-xs-12">
                    <h1>关于我们<i class="fa fa-angle-down"></i></h1>
                    <ul>
                        <li>
                            <a href="intro-company.html">公司介绍</a>
                        </li>
                        <li>
                            <a href="certi-book.html">资质证书</a>
                        </li>
                        <li class="active">
                            <a href="staff.html">员工风采</a>
                        </li>
                        <li>
                            <a href="news-information.html">新闻资讯</a>
                        </li>
                        <li>
                            <a href="busine-cooperation.html">商务合作</a>
                        </li>
                        <li>
                            <a href="pay.html">支付方式</a>
                        </li>
                        <li>
                            <a href="connect-us.html">联系我们</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12 staff-list mg-40">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="staff-item">
                            <a href="../staff-detail/staff-detail-1.html"><img src="../../images/about-us/staff/s_59bf4036b7e66.jpg"></a>
                            <h1><a href="../staff-detail/staff-detail-1.html">亲近自然，回归自我</a></h1>
                            <p>进入初秋，正是秋游的好季节，为了缓解工作的压力，迎接后面更多挑战，公司决定举行一次秋游活动，让公司同事间增进感情，提高公司聚</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="staff-item ">
                            <a href="../staff-detail/staff-detail-2.html"><img src="../../images/about-us/staff/s_58366785d8aec.jpg"></a>
                            <h1><a href="../staff-detail/staff-detail-2.html">欢乐一家人</a></h1>
                            <p>锐讯人除了紧张的工作，也有轻松的一方面。下面让我们看看欢乐的锐讯大家庭。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="footer-container"></div>

    <div class="float-container"></div>
    <!-- pre loader  -->
    <div class="preloader"></div>


    <!-- jQuery js -->
    <script src="../../js/jquery.js"></script>
    <!-- bootstrap js -->
    <script src="../../js/bootstrap.min.js"></script>
    <!-- jQuery ui js -->
    <script src="../../js/jquery-ui.js"></script>
    <!-- owl carousel js -->
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/jquery.flexslider.js"></script>

    <!-- mixit up -->
    <script src="../../js/wow.js"></script>


    <!-- fancy box -->
    <script src="../../js/custom.js"></script>
    <script src="../../js/common.js"></script>
    <!-- photo js-->

</div>

</body>
</html>
